body
{
    background-image: url("C:\Users\My Pc\Downloads\pexels-pixabay-40568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.label
{
   display:inline-table;
   padding-top:2%;
   padding-bottom: 2%;
   width: 80%;
}
.butoane
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.but1
{
   background-image: url("fst.jpg");   
   background-repeat: no-repeat;
   background-size: cover;
   width:329px;
   margin-left: 6%;
   margin-right: 6%;
   height:440px;
   border-radius:5px;
   margin-top:5%;
   border: none;
   box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.but2
{
   background-image: url("sec.jpg");   
   background-repeat: no-repeat;
   background-size: cover;
   width:329px;
   margin-left: 6%;
   margin-right: 6%;
   height:440px;
   border-radius:5px;
   margin-top:5%;
   border: none;
   box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.login
{
   appearance: none;
   background-color: transparent;
    background-image: url("login.png");
    background-size:contain;
    width: 80px;
    height: 80px;
    margin-left: 94%;
    border: none;
}
.formm
{
    padding: 2%;
    text-align: center;
    width: 50%;
    margin:5%;
    margin-left: 20%;
    background-color: rgba(126, 141, 226, 0.614);
    font-size: 4vb;
    display: flex;
   flex-direction: column;
}

input,select
{
    width: 60%;
    border-color: rgb(178, 173, 173);
    border-radius: 5px;
    border-width: 1%;
    margin-top:5%;
}
.textt
{
    width: 80%;
    margin-left: 20%;
}
.submit
{
    width: fit-content;
    align-self: center;
    background-color:rgba(36, 122, 83, 0.847);
    color:rgb(0, 0, 0);
    padding: 1%;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 5px;
    margin-top:5%;
    width:fit-content;
}
.submit:hover
{
    background-color: rgba(21, 92, 16, 0.847);
}
.table{
    width: 80%;
    background-color: rgb(175, 169, 228);
    color:rgb(0, 0, 0);
    font-size:2.5vh;
    margin-left:10%;
    margin-top:2%;
    margin-bottom: 8%;
}
.lista
{
    background-color: wheat;
}
td
{
    text-align: center;
}
.form
{
   padding-top:10%;
    text-align: center;
    width: 60%;
    background-color: rgb(255, 255, 255);
    font-size: 4vb;
    display: flex;
   flex-direction: column;

}
.data
{
    padding: 10%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 5%;
}
.infoForm
{
    width: 50%;
    height: 450px;
    background-image: url(id.png);
    background-size: cover;
    font-size: 2vi;
    font-weight: bold;
    display: inline-block;
    vertical-align: baseline;

}
.delete
{
    width: fit-content;
    align-self: center;
    background-color:rgba(255, 0, 0, 0.847);
    color:rgb(0, 0, 0);
    padding: 1%;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 5px;
    margin-top:5%;
    width: 40%;
    margin-left:247%;
    margin-bottom: 2%;
}
.exit
{
    background-color:rgba(255, 0, 0, 0.847);
    color:rgb(0, 0, 0);
    padding: 1%;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 5px;
    margin-top:5%;
    width: fit-content;
    margin-left: 90%;
}